$header-font: 'Lato', sans-serif;
$regular-font: 'Noto Serif', serif; 

.text-content {
  width: 50%;
  .text-content-inner {
    box-sizing: border-box;
    width: 100%;
    display:inline-block;
    border: solid 1px #000;
    min-height: 200px;
    float: left;
    padding: 40px;
    margin-top: 50px;
    outline: none;
    border: none;
    padding: 20;
    font-family: $regular-font;
    font-size: 30px;
    word-break: all;
    
    &:empty:before{
      content:attr(data-default-value);
      color:grey;
      font-style:italic;
    }
  }
}

.statistic-content {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 50%;
  font-family: $header-font;
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

